.green__apps{
    background-color: lime;
}

.red__apps {
    background-color: red;
}

.yellow__apps {
    background-color: yellow;
}

.green__apps, .red__apps, .yellow__apps {
    width: 400px;
    padding: 10px;
    text-align: center;
    margin: 5px;
    height: 50px;
    font-size: 1.4rem;
}